@font-face {
    font-family: "idroid";
    src:"./fonts/idroid.otf" format("otf");
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono&display=swap');
@charset "UTF-8";

* {
    margin: 0;
}

body {
    background-color: #c5ebd6;
}

header {
    height: 200px;
    background-image: linear-gradient(to bottom, #3cd681, #33b66e, #2a975c, #227949, #1a5c38);
    color: white;
}

h1 {
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 2px gray;
}

header p {
    text-align: center;
    font-size: 18px;
}


.menu-header {
    align-content: flex-start;
}

.list-menu {
    text-decoration: none;
    list-style-type: none;
    gap: 10px;
    font-weight: 700;
}

main {
    box-shadow: 2px 2px 2px rgb(30, 10, 0);
    max-width: 80%;
    margin: auto;
    background-color: white;
}

img {
    margin: auto;
}

footer {
    background: #1a5c38;
    height: 25px;
}

.made-by {
    color: white;
    text-align: center;
    margin: 0;
}
